// Normalize and Reset

@use "./variables_mixins_functions" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Colors
body {
  background-color: $color-background;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: $font-header;
}

p,
li {
  font-family: $font-body;
}

a {
  font-family: $font-body;
  color: $color-medium-text;
  text-decoration-color: $color-medium-text;
  text-decoration-thickness: $link-underline-thickness;
  text-underline-offset: $link-underline-offset;
  transition: all $link-transition-out;
  text-decoration-skip-ink: none;
}

a.inline-link {
  font-family: $font-body;
  color: $color-medium-text;
  text-decoration: none;
  transition: all $link-transition-out;
}

a:hover {
  color: $color-accent-alt;
  text-decoration-color: $color-accent-alt;
  text-decoration-thickness: $link-underline-thickness;
  text-underline-offset: $link-underline-offset;
  transition: all $link-transition-in;
}

.header-container {
  background-color: $color-background;
}

.header {
  scroll-behavior: smooth;

  &__logo {
    text-decoration: none;

    p {
      font-family: $font-header;
      font-size: rem(24);
      font-weight: 700;
      color: $color-strongest-text;
      text-decoration: none;
      transition: color $link-transition-out;
    }

    p:hover {
      color: $color-accent-alt;
      transition: color $link-transition-in;
    }
  }

  &__socials {
    margin: 0 auto;

    a:link {
      font-family: $font-body;
      color: $color-strongest-text;
      text-decoration: none;
      // transition: 0.6s;
    }

    a:visited {
      font-family: $font-body;
      color: $color-strongest-text;
    }

    a:hover,
    a:active {
      font-family: $font-body;
      color: $color-accent-alt;
      transition: $link-transition-in;
    }

    svg {
      fill: $color-strongest-text;
      transition: $link-transition-out;
    }

    svg:hover {
      fill: $color-accent-alt;
      transition: $link-transition-in;
    }
  }

  &__navigation {
    text-align: right;

    a:link {
      font-family: $font-body;
      color: $color-strongest-text;
      text-decoration: underline 0.2em rgba(251, 34, 90, 0);
      text-decoration-thickness: $link-underline-thickness;
      text-underline-offset: $link-underline-offset;
      transition: all $link-transition-out;
    }

    a:visited {
      font-family: $font-body;
      color: $color-strongest-text;
      text-decoration: none;
    }

    a:hover,
    a:active {
      font-family: $font-body;
      color: $color-accent-alt;
      text-decoration: underline 0.2em rgba(251, 34, 90, 1);
      text-decoration-thickness: $link-underline-thickness;
      text-underline-offset: $link-underline-offset;
      transition: all $link-transition-in;
    }
  }
}

.hero {
  &__header {
    font-size: rem(50);
    font-weight: 700;
    line-height: rem(60);
    font-family: $font-header;
  }

  p {
    // font-family: "Work Sans";
  }
}

.resume-container {
  background-color: $color-light-background;
}

.portfolio {
  &__table-of-contents {
    ul {
      list-style: outside none none;
    }
  }
}

// Portfolio Item
.project {
  // border: 1px $color-medium-text solid;
  border-radius: 16px;
  background-color: $color-light-background;
  border: $color-strong-text 3px dashed;
  box-shadow: 8px 8px $color-box-shadow;
}

.resume-item {
  &__subtitle {
    font-size: rem(14);
  }
}